.product-wrapper{
    margin-bottom: 10px;
}

.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out;
}

.product-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.product-details {
    padding: 0 16px;
}

.product-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.product-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 8px;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
}

.add-to-cart {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

/* Grid Layout */
.product-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns by default */
    gap: 16px;
}

@media (max-width: 1024px) {
    .product-wrapper {
        grid-template-columns: repeat(4, 1fr); /* Same 4 columns for 1024px screens */
    }
}

@media (max-width: 768px) {
    .product-wrapper {
        grid-template-columns: repeat(3, 1fr); /* 2 columns for screens below 768px */
    }
}

@media (max-width: 480px) {
    .product-wrapper {
        grid-template-columns: repeat(2, 1fr); /* 2 column for very small screens */
    }
}
